{% extends "base.html" %}
{% block content %}
    <div>&nbsp;</div>
    <div class="form">
    <h2>Register New Account</h2>
        <form action="{{ url_for("register") }}" method="post">
            <h4>Username:</h4>
            <label>
                <input type="text" name="user" />
            </label>
            <br />
            <h4>Password:</h4>
            <label>
                <input type="password" name="pass" />
            </label>
            <br />
            <input type="submit" value="Submit" />
        </form>

    {% if error %}<div class = "error"><strong style="color: red">{{ error }}</strong></div>{% endif %}
    </div>


{% endblock %}